html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  transition: all 200ms linear;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
}

figure:first-child {
  top: 7em;
  left: 30%;
  transform: rotate(-15deg);
  z-index: 2;
}

figure:nth-child(2) {
  top: 9em;
  left: 30%;
  transform: rotate(6deg);
  z-index: 3;
}

figure:nth-child(3) {
  top: 6em;
  left: 40%;
  transform: rotate(34deg);
  z-index: 1;
}

.polaroid:hover {
  transform: rotate(0);
  z-index: 5;
  box-shadow: 10px 10px 40px #000;
}
